body {
    background-color: #EAEDED;
    }
h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    color:gray;
    line-height: 22px;
    text-align: center;
    padding-top: 15px;
}
li {
    display: inline;
    word-spacing: 40px;
    text-align: center;
}
nav {
    margin: auto;
    padding: 10px 10px;
    border-top: 2px solid black;
    border-bottom: 1px solid black;
    width: 710px;
}
#menucito>li :hover {
    color: #C0392B;
    font-weight: bold;
    
}

.ana {
    font-size: 44px;
    color: black;
    letter-spacing: 5px;
}
.spe {
    font-size: 25px;
    color: #2C3E50;
    letter-spacing: 2px;
}
.titulo {
 margin: auto;
 margin-top: 100px;
}
#menucito {
    color: black;
    list-style: none;
    text-align: center;
    display: inline;
}
#menucito>li>a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    letter-spacing: 3px;
    }
        
.piano {
    width: 800px;
    /*height: 183px;*/
    margin: auto;
    margin-top: 30px;
   
    } 
    p {
        text-align: center;
        word-spacing: 2px;
        letter-spacing: 2px;
        font-family: 'Courier New', Courier, monospace;
    font-size: 17px;
}
.todo {
    background-color: white;
    border: double black;
    margin: auto;
    width: 895px;
    height: 450px;
    margin-top: 100px;
    }

section {
    margin-top: -85px;
}

.borde {
    /*border: 12px solid #AEB6BF;
    box-sizing: content-box;*/
    margin-top: 100px;
    margin: auto;
    /*background-color: #AEB6BF;*/
    height: 440px;
    width: 900px;
    box-shadow: 20px 20px 0px 10px #AEB6BF;
    

}
   

















 